---
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
import CodeIcon from '../components/icons/CodeIcon.astro'
import AboutMe from '../components/AboutMe.astro'
import Contact from '../components/Contact.astro'
import Mail from '../components/icons/Mail.astro'
import "../styles/global.css"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<SectionContainer id="about">
		<div class="flex flex-wrap items-center gap-4 mb-4 font-semibold">
			<h2 class="text-4xl">
				Hey, I'm <span class="text-pink-400">Johan</span> Boshell
			</h2>
			<Badge>Disponible para trabajar</Badge>
		</div>
		<AboutMe />
	</SectionContainer>

	<SectionContainer id="projects">
		<h2 class="text-4xl font-semibold mb-6 flex gap-x-3 items-center">
			<CodeIcon class="size-10" />
			Projects
		</h2>
		<Projects />
	</SectionContainer>

	<SectionContainer id="contact">
		<h2 class="text-4xl font-semibold mb-6 flex gap-x-3 items-center">
			<Mail class="size-10" />
			Contact
		</h2>
		<Contact />
	</SectionContainer>
</Layout>
