---
import Copy from "./icons/Copy.astro";
import Badge from "./Badge.astro";
---

<article id="contact" class="w-full flex flex-col items-center gap-2 text-white rounded-lg py-0 mb-16 shadow-lg">
    <div class="w-full flex gap-2 flex-row">
        <input
            id="emailInput"
            type="text"
            value="johan.boshell@utp.edu.co"
            disabled
            class="text-light p-2.5 rounded-lg border-solid border-[#5A189A] border-2 w-8/10"
        />
        <span
            onclick="handleClick()"
            class="cursor-pointer rounded-lg flex justify-center align-center py-2.5  dark:bg-[#5A189A] dark:hover:bg-[#7B2CBF] dark:focus:ring-purple-900 w-2/10"
        >
            <Copy class="size-5"/>
        </span>
    </div>

    <!-- Contenedor para el badge -->
    <div id="badgeContainer" class="self-start invisible">
        <Badge>Copiado!</Badge>
    </div>
</article>

<script is:inline>
    function handleClick() {
        const input = document.getElementById("emailInput");
        const badgeContainer = document.getElementById("badgeContainer");

        if (input && badgeContainer) {
            navigator.clipboard.writeText(input.value)
                .then(() => {
                    badgeContainer.classList.remove("invisible")
                    // Eliminar badge después de 3 segundos
                    setTimeout(() => {
                        badgeContainer.classList.add("invisible");
                    }, 3000);
                })
                .catch((err) => {
                    console.error("Error al copiar el correo:", err);
                });
        }
    }
</script>

